.root {
  background-color: var(--theme-palette-primary-dark);
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  color: var(--theme-palette-common-white);
}
