.root {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  box-sizing: border-box;
  list-style: none;
  // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 3rem;
}

.gutter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sticky {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: inherit;
}
