.root {
  background-color: var(--theme-palette-primary-main);
  border-width: 1px;
  color: var(--theme-palette-common-white);
  // height: 1.5rem;
  // line-height: 1.5rem;
  text-align: center;
  user-select: none;
  width: 1.5rem;
}
