.root {
  width: 100%;
  text-decoration: none;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  border-bottom-width: 1px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.card {
  width: 100%;
}

.subHeader {
  display: flex;
}

.subHeaderItem {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  // min-width: 4rem;
}

.content {
  margin-top: 0.5rem;
  // display: inline-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.externalLinkText {
  position: relative;
  pointer-events: none;
  z-index: 1;
}

.externalLinkAnchor {
  word-break: break-word;
  pointer-events: all;
  position: relative;
  &:hover {
    text-decoration: underline;
  }
}
