.flex {
  display: flex;
}

.flex-shrink {
  flex-shrink: 1;
}

.aside {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;

  div:last-of-type {
    margin-left: 0.5rem;
  }
}

.content {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  > span {
    margin-left: 0.5rem;
  }
}

.deleted {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 2.5rem;
}

.thread-line {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 0.125rem;
  justify-content: center;
  background-color: var(--theme-palette-grey-300);
}

.thread-spread {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  height: 2rem;
  width: 2rem;

  :not([hidden]) ~ :not([hidden]) {
    --space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--space-y-reverse));
  }

  :nth-child(1) {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 0.125rem;
  }
  :nth-child(2) {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 0.375rem;
    width: 0.125rem;
    background-color: var(--theme-palette-grey-300);
  }
  :nth-child(3) {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 0.25rem;
    width: 0.125rem;
    background-color: var(--theme-palette-grey-300);
  }
  :nth-child(4) {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 0.125rem;
    width: 0.125rem;
    background-color: var(--theme-palette-grey-300);
  }
}
