.root {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.active {
  color: var(--theme-palette-primary-main);
}

.label {
  opacity: 1;
  font-size: 0.75rem;
  // transition: font-size 0.2s, opacity 0.2s;
  // transition-delay: 0.1s;
}
