:root {
  --palette-black: #000000;
  --palette-white: #ffffff;

  --palette-gray-50: #fafafa;
  --palette-gray-100: #f4f4f5;
  --palette-gray-200: #e4e4e7;
  --palette-gray-300: #d4d4d8;
  --palette-gray-400: #a1a1aa;
  --palette-gray-500: #71717a;
  --palette-gray-600: #52525b;
  --palette-gray-700: #3f3f46;
  --palette-gray-800: #27272a;
  --palette-gray-900: #18181b;

  --palette-orange-50: #fff7ed;
  --palette-orange-100: #ffedd5;
  --palette-orange-200: #fed7aa;
  --palette-orange-300: #fdba74;
  --palette-orange-400: #fb923c;
  --palette-orange-500: #f97316;
  --palette-orange-600: #ea580c;
  --palette-orange-700: #c2410c;
  --palette-orange-800: #9a3412;
  --palette-orange-900: #7c2d12;

  --palette-amber-50: #fffbeb;
  --palette-amber-100: #fef3c7;
  --palette-amber-200: #fde68a;
  --palette-amber-300: #fcd34d;
  --palette-amber-400: #fbbf24;
  --palette-amber-500: #f59e0b;
  --palette-amber-600: #d97706;
  --palette-amber-700: #b45309;
  --palette-amber-800: #92400e;
  --palette-amber-900: #78350f;

  --palette-yellow-50: #fefce8;
  --palette-yellow-100: #fef9c3;
  --palette-yellow-200: #fef08a;
  --palette-yellow-300: #fde047;
  --palette-yellow-400: #facc15;
  --palette-yellow-500: #eab308;
  --palette-yellow-600: #ca8a04;
  --palette-yellow-700: #a16207;
  --palette-yellow-800: #854d0e;
  --palette-yellow-900: #713f12;
}
